.container {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    position:absolute;
    right: 0;
    top: 0;
}

.groupButtons {
    margin: 0 0 2vh 2vw;
    align-self: flex-start;
}

.button {
    height: 2vh;
    width: 6vw;
}

.container-message{
    width: 20vw;
    height: 10vh;
    margin: 1vh 5vw 2vh 0;
    padding: 1vw;
    border-radius: 2vw;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.success {
    background-color: #138b4e;
    color: #150000;
}

.error{
    background-color: #6d0818;
    color: #150000;
}

.warning{
    background-color: #797272;
    color: #150000;
}

.info{
    background-color: #21c1d9;
    color: #150000;
}

.container-message-icon{
    height: 6vh;
    width: 6vh;
}

.container-message-cross{
    height: 3vh;
    width: 3vh;
    align-self: end;
}

.container-message span{
    font-weight: bold;
    font-size: 15px;
}
